<hr>
<div class="row">
	<div class="small-4 columns text-center">
		<a href="#">About</a>  &nbsp
		<a href="#">Contact</a>  &nbsp
		<a href="#">Privacy</a>  &nbsp
		<a href="#">Terms</a>  &nbsp
		<a href="#">Blog</a>  &nbsp
	</div>
	<div class="small-3 columns text-center">
		<a href="#" class="facebook"><img src="/assets/socialmedia/dfacebook.png" alt="Facebook"></a>
		<a href="#" class="google"><img src="/assets/socialmedia/dgplus2.png" alt="Google Plus"></a>
		<a href="#" class="insta"><img src="/assets/socialmedia/dinstagram.png" alt="Instagram"></a>
		<a href="#" class="pinterest"><img src="/assets/socialmedia/dpinterest.png" alt="Pinterest"></a>
		<a href="#" class="tumblr"><img src="/assets/socialmedia/dtumblr.png" alt="Tumblr"></a>
		<a href="#" class="twitter"><img src="/assets/socialmedia/dtwitter.png" alt="Twitter"></a>
	</div>
	<div class="small-5 columns text-center">&copy Apparel Code LLC. All Rights Reserved</div>
</div>
<hr>