<div class="small-2 column text-left">Menu
	<a class="left-off-canvas-toggle"><img src="assets/3strips.png"></a>
</div>
<div class="small-1 column text-center"><a href="#"><img src="/assets/AC-Letters.jpg"></a></div>
<div class="small-1 column text-center"><a href="#">Market</a></div>
<div class="small-1 column text-center"><a href="#">Store</a></div>
<div class="small-4 column">
	<input class="radius" type="text" placeholder="Search for users, styles, brands, and more">
</div>
<div class="small-3 column text-center">
	<a href="#"><img src="/assets/message-icon.png"></a>
	<a href="#"><img src="/assets/notification-icon.png"></a>
	<a href="#">&nbsp User &nbsp</a>
	<a href="#"><img src="/assets/gear.png"></a>
</div>

