<div class='side-nav col-md-2 col-sm-2'>
  <div class='col-md-12'>
    <%= image_tag("/assets/AC-Letters.jpg", class:"col-md-12 logo") %>
  </div>
  <div class='nav-item col-md-12'>
    News Feed
  </div>
  <div class='nav-item col-md-12'>
    Message 
  </div>
  <div class='nav-item col-md-12'>
    Events 
  </div>
  <div class='nav-item bottom-item col-md-12'>
    Wish List 
  </div>
  <div class='nav-item col-md-12'>
    Featured 
  </div>
  <div class='nav-item col-md-12'>
    Popular
  </div>
  <div class='nav-item col-md-12'>
    New
  </div>
  <%= link_to people_path do %>
    <div class='people-button nav-item col-md-12'>
      People
    </div>
  <% end %>
  <div class='post-outfit nav-item col-md-12'>
    Post an Outfit
  </div>
</div>
