<<<<<<< HEAD
Sidebar
=======
<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<ul class="side-nav">
			<li>
				<img src="/assets/AC-Letters.jpg">
			</li>
			<hr>
			<li><a href="#">New's Feed</a></li>
			<li><a href="#">Message</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Wish List</a></li>
			<hr>
			<li class="divider"></li>
			<li class="divider"></li>
			<li class="divider"></li>
			<li class="divider"></li>
			<li class="divider"></li>
			<li class="divider"></li>
			<hr>
			<li><a href="#">Featured</a></li>
			<li><a href="#">Popular</a></li>
			<li><a href="#">New</a></li>
			<li><a href="#">People</a></li>
			<li><a href="#" class="button small secondary">Post an Outfit</a></li>
			<hr>
		</ul>
	</ul>
</aside>
>>>>>>> 16b06deb668f0981d0c1f8369c5e9c8fd1500306
