<div class='banner-container col-md-12'>
  <%= image_tag("/assets/AC_top.png", class: 'banner-image') %>
</div>
<% if !current_user %>
  <div class="button col-md-4">
  </div>
  <div class="button col-md-4">
    <%= link_to sign_in_path do %>
      <div class="button login col-md-5">
        Login
      </div>
    <% end %>
    <div class="col-md-1"></div>
    <%= link_to new_user_path do %>
      <div class="button join col-md-5">
        Join
      </div>
    <% end %>
  </div>
  <div class="button col-md-4">
  </div>
<% end %>
