<div class="row">
	<div class="small-12 small-centered column small-text-center">
		<h1>Apparel Code</h1><br>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered column small-text-center">
		<h4>Share your style and inspire the world.</h4>
	</div>
</div>
<div class="row">
	<a href="#" class="large button radius small-3 small-offset-3 success columns">Login</a>
	<a href="#" class="large button radius small-3 small-offset-1 end secondary columns">Join&nbsp</a>
</div>
<hr>
<div class="row">
	<div class="small-10 columns text-right">
		<a href="#" data-dropdown="drop1" class="tiny success button dropdown">Men / Women</a><br>
			<ul id="drop1" data-dropdown-content class="f-dropdown text-left">
			  <li><a href="#">| Men</a></li>
			  <li><a href="#">| Women</a></li>
			  <li><a href="#">| Men + Women</a></li>
			</ul>
	</div>
	<div class="small-2 columns text-left">
		<a href="#" data-dropdown="drop2" class="tiny secondary button dropdown">Global</a><br>
			<ul id="drop2" data-dropdown-content class="f-dropdown text-left">
			  <li><a href="#">| Global</a></li>
			  <li><a href="#">| Local</a></li>
			</ul>
	</div>
</div>
<div class="row">
	<img src="http://placehold.it/350x450" class="small-4 columns">
	<img src="http://placehold.it/350x450" class="small-4 columns">
	<img src="http://placehold.it/350x450" class="small-4 columns">
</div><br>
<div class="row">
	<img src="http://placehold.it/350x450" class="small-4 columns">
	<img src="http://placehold.it/350x450" class="small-4 columns">
	<img src="http://placehold.it/350x450" class="small-4 columns">
</div>