<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
  <%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
    <p>
      <%= f.text_field :username, :placeholder => "Username or Email"%>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.submit 'Send Password Reset Instructions' %>
    </p>
  <% end %>
</div>
