.banner-container
  text-align: center
  margin-top: 30px
  
.banner-image
  width: 80%
  margin: 0 auto

.button
  color: #FFFFFF
  font-family: Century Gothic, sans-serif
  font-size: 22px
  height: 40px
  border-radius: 5px
  text-align: center

.login
  background-color: #c2c2c2
  padding-top: 4px

.join
  background-color: #81f1f2
  padding-top: 4px

.post-container
  overflow: hidden
  display: inline
  margin-top: 25px

.post-image
  width: 100%
  &:hover
    opacity: 0.4

.caption
  height: 40px
  position: absolute
  width: 100%

.top
  background-color: blue
  top: -40px

.bottom
  background-color: orange
  bottom: -40px
