.login-overlay
    position: fixed
    top: 0
    width: 100%
    z-index: 3
    opacity: 1
    background: #4D4D4D
    transition: opacity 200ms linear, bottom 0s linear 200ms

.overlay-background
    position: fixed
    top: 0
    left: 0
    background: rgba(0,0,0,0.6)
    z-index: 5
    width: 100%
    height: 100%

.overlay-form
    z-index: 10
    background-color: #FFFFFF
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 30%
    height: 37%
    margin: auto
    text-align: center
    border-radius: 20px
